<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/app.css" />
    <link rel="stylesheet" href="_content/Common.Validation.Demo.Blazor.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_content/_framework/blazor.web.js"></script>
</body>

</html>
