<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets[key: "app.css"]" />
    <link rel="stylesheet" href="@Assets[key: "Common.Validation.Demo.Blazor.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets[key: "_framework/blazor.web.js"]"></script>
</body>

</html>
